/* You can add global styles to this file, and also import other style files */
.space-y-2 > :not([hidden]) ~ :not([hidden]) {
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 0;
  }
  
  .space-y-3 > :not([hidden]) ~ :not([hidden]) {
    display: block;
    margin-top: 0.75rem;
    margin-bottom: 0;
  }
  
  .space-y-4 > :not([hidden]) ~ :not([hidden]) {
    display: block;
    margin-top: 1rem;
    margin-bottom: 0;
  }
